include LICENSE *.md *.yml

include tox.ini
include .bumpversion.cfg
include .coveragerc
include .editorconfig
include Makefile
include requirements.txt
include *.toml
recursive-include src *.py
recursive-include src *.typed
recursive-include tests *.py
exclude tests *.password
exclude tests *.env
exclude tests *.enc
